.repoName {
  font-size: 1.5rem;
}

.public-private-label {
  font-size: 0.7rem;
  border: 1px solid gray;
  padding: 0.1rem 0.62rem;
  border-radius: 0.6rem;
}

.small {
  font-size: 0.75rem;
}

.description {
  font-size: 0.935rem;
  height: 2.7rem;
  text-overflow: ellipsis;
  overflow-y: clip;
}

.repo-footer {
  font-size: 0.8rem;
}

.repo-footer p {
  display: inline;
}

.topics {
  overflow-x: auto;
  overflow-wrap: normal;
}

.topic-tag {
  color: #007fd9;
  margin: 0 0.25rem;
  background-color: rgb(50 177 255 / 38%);
  border-radius: 0.6rem;
  padding: 0.1rem 0.625rem;
  white-space: nowrap;
  font-size: 0.75rem;
}

.repo-language-color {
  position: relative;
  top: 0.1rem;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}
