#back-arrow {
  width: 2rem;
}
.card {
  background-color: #e2e7eb;
  box-shadow: 0px 0px 6px 4px rgb(45 60 65);
}

.small-card {
  width: 9.375rem;
}

.small-card p {
  font-size: 2rem;
}

#avatar {
  border-radius: 50%;
  width: 12rem;
  box-shadow: 0px 0px 6px 4px rgb(86 88 89);
}

.header-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-sub {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
small,
p {
  font-size: 1rem;
}

.font-weight-bold {
  font-weight: bold;
}

.small-card-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.followers-tab {
  background-color: #b4b8bb;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
  padding: 0.25rem 0.6rem;
  color: white;
}

.nav-tabs .nav-link.active {
  background-color: #e2e7eb;
  border-bottom: 0.3rem solid rgb(21, 176, 237);
  color: black;
  font-weight: bold;
}

#nav-tabContent {
  background-color: #014363a8;
  color: white;
  height: 13.7rem;
  overflow-y: auto;
}
